<%= stylesheet_link_tag 'style.css' %>
<div class="first-section  margin-auto main-container flex ">
  <div class="">
    <%= image_tag ("bag-1565402_1920.jpg") %>
  </div>

  <div class="quote-container">
    <p>Lorem Ipsum ....</p>
  </div>



</div>
