/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
  font-family: 'Avenir';
  src: url('<%= assets_path("AvenirLTStd-Roman.otf") %>');
 }

body {
  margin: 0px;
}

.main-container {
  width: 1170px;
}

.margin-auto {
  margin: auto;
}

.margin-5-px {
  margin: 5px;
}

.text-center {
  text-align: center;
}

.text-underline {
  text-decoration: underline;
}

.background-turquoise {
  background-color: turquoise;
}

.text-white {
  color: white;
}

.flex {
  display: flex;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.top-nav {
  color: #e5e5e5;
  background-color: #7a7b76;
}

.navbar-select {
  background-color: inherit;
  color:  white;
}

.navbar-select:focus {
  outline: none;
}

.navbar-select option {
  margin: 40px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.top-nav ul li{
  list-style: none;
  margin: 12px;
}

.top-nav ul li:hover {
  color: white;
}

.cursor-pointer {
  cursor: pointer;
}

.align-item-flex-end {
  justify-content: flex-end;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-direction-column {
  flex-direction: column;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.chat-icon {
  width: 100px;
  left: 90%;
  top: 91%;
}

.search-icon {
  top: 8px;
  left: 150px;
}

.search-input {
   border: lightgrey solid 1px;
   padding-left: 15px;
}

.search-input:focus {
  outline: grey solid 1px;
}

.line-height-20 {
  line-height: 5px;
}

.line-height-30 {
  line-height: 30px;
}

.border-transparent {
  border-color: transparent;
}

.width-100-percent {
  width: 100%;
}

.height-50-percent {
  height: 50%;
}

i {
  margin-right: 5px;
}

.border-1-px {
  border: 1px solid red;
}

.text-transform-uppercase {
  text-transform: uppercase;
}

.font-weight-bold {
  font-weight: bold;
}

.list-style-none {
  list-style: none;
}

.font-family-avenir {
  font-family: avenir;
}

.second-nav {
  color: #343343;
  font-size: 14px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

.second-nav li:hover {
  text-decoration: underline;
}

.align-items-center {
  align-items: center;
}

.first-section {
  margin-bottom: 20px;
}

.first-section .image-container {
  width: 60%;
}

.first-section div img {
  width: 100%;
}

.quote-container {
  align-items: center;
  justify-content: center;
  width: 40%;
  background-color: #7a7b76;
  color: #e5e5e5;
}

.second-section img {
  max-width: 23%;
  margin-bottom: 20px;
}

.third-section {
  border-bottom: lightgrey solid 1px;
  padding-bottom: 20px;
}

.third-section select {
  font-size: 16px;
  padding: 5px;
  margin-bottom: 25px;
}

.third-section select option {
  padding: 5px;
}

.third-section select:focus {
  outline: none;
}

.third-section div div h4, .third-section div div p {
  font-family: Avenir;
  margin-top: 0;
  margin-bottom: 0;
}

.view-more-button {
  margin: 20px;
}

.max-width-25-percent {
  max-width: 25%;
}

.text-color-grey {
  color: grey;
}

.circle {
  border-radius: 50%;
  width: 16%;
  height: 180px;
  border: grey solid 2px;
  overflow: hidden;
  justify-content: center;
}

.circle-icon {
  margin-top: 18px;
}

.background-555 {
  background-color: #555;
}

.footer-top-div {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #7a7b76;
}

.footer-first-item {
  font-size: 80px;
  font-style: italic;
  margin: 46px;
}

.join-form-button {
  background-color: #555;
}

.footer-bottom-div {
  padding-top: 15px;
}

.footer-image {
  margin-left: auto;
  width: 60px;
}
