/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .main-container {
   width: 1170px;
 }

.margin-auto {
  margin: auto;
}

.text-center {
  text-align: center;
}

.text-underline {
  text-decoration: underline;
}

.background-turquoise {
  background-color: turquoise;
}

.text-white {
  color: white;
}

.flex {
  display: flex;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.top-nav {
  color: #e5e5e5;
  background-color: #7a7b76;
}

select {
  background-color: inherit;
  color:  white;
}

select option {
  margin: 40px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.top-nav ul li{
  list-style: none;
  margin: 12px;
}

.top-nav ul li:hover {
  color: white;
}

.cursor-pointer {
  cursor: pointer;
}

.align-item-flex-end {
  justify-content: flex-end;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.search-icon {
  top: 8px;
  left: 150px;
}

.search-input {
   border: lightgrey solid 1px;
}

.line-height-30 {
  line-height: 30px;
}

.border-transparent {
  border-color: transparent;
}

.width-100-percent {
  width: 100%;
}

.vertical-align-middle {
  vertical-align: middle;
}

i {
  margin-right: 5px;
}

.border-1-px {
  border: 1px solid red;
}

.text-transform-uppercase {
  text-transform: uppercase;
}

.list-style-none {
  list-style: none;
}

.font-family-avenir {
  font-family: avenir;
}

.second-nav {
  color: #343343;
  font-size: 14px;
}

.second-nav li:hover {
  text-decoration: underline;
}
